@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f6f9fe;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
body header {
  width: 70%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 18px;
     -moz-column-gap: 18px;
          column-gap: 18px;
}
body header nav ul li a {
  text-decoration: none;
  color: #acaeb1;
  font-weight: 500;
}
body header nav ul li:last-of-type a {
  background: #372865;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
}
body header div.mobile-nav-btn {
  display: none;
  cursor: pointer;
}
body main {
  width: 70%;
  height: 70%;
}
body main section.home {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
body main section.home .section-left {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}
body main section.home .section-left .label-header {
  background: #372865;
  padding: 8px 25px;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body main section.home .section-left .label-header p {
  color: #c2b7dd;
}
body main section.home .section-left .label-header p a {
  color: #c2b7dd;
}
body main section.home .section-left h1 {
  font-size: 40px;
  color: #343151;
}
body main section.home .section-left p {
  color: #6f6f70;
}
body main section.home .section-left form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
body main section.home .section-left form .form-group input {
  background: #fff;
  padding: 10px 15px;
  width: 230px;
  outline: none;
  border: 0;
  border: 1px solid #dddfe7;
  border-radius: 4px;
}
body main section.home .section-left form .form-group button {
  background: #372865;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
body main section.home .section-right {
  width: 30%;
  height: 100%;
  background: url("./Assets/Illustration.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main section.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
body main section.social ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
body main section.social ul li a img {
  width: 100%;
}
body footer {
  height: 10%;
  width: 70%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
body footer p {
  font-size: 14px;
  font-weight: 600;
}
body footer p a {
  color: #372865;
}
body div#mobile-nav {
  background-color: #372865;
  width: 70%;
  margin: 0px auto;
  display: none;
}
body div#mobile-nav nav {
  width: 100%;
  padding: 20px 0px;
}
body div#mobile-nav nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 5px;
}
body div#mobile-nav nav ul li {
  width: 100%;
  padding: 10px;
}
body div#mobile-nav nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
body div#mobile-nav nav ul li a:hover {
  color: black;
}
body div#mobile-nav.active {
  display: block;
}

@media screen and (max-width: 1400px) {
  body header {
    width: 80%;
    height: 20%;
  }
  body main {
    width: 80%;
    height: 70%;
  }
  body footer {
    height: 10%;
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  body header {
    width: 90%;
    height: 20%;
  }
  body main {
    width: 90%;
    height: 70%;
  }
  body footer {
    height: 10%;
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  body {
    height: auto;
  }
  body header {
    width: 90%;
    height: 50px;
    margin-top: 40px;
  }
  body header nav {
    display: none;
  }
  body header div.mobile-nav-btn {
    display: block;
  }
  body main {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
  body main section.home .section-left {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 35px;
  }
  body main section.home .section-left h1 {
    text-align: center;
  }
  body main section.home .section-left p {
    text-align: center;
  }
  body main section.home .section-right {
    display: none;
  }
  body footer {
    height: 40px;
    width: 90%;
    margin-bottom: 20px;
  }
  body div#mobile-nav {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  body {
    height: auto;
  }
  body header {
    width: 90%;
    height: 50px;
    margin-top: 40px;
  }
  body header nav {
    display: none;
  }
  body header div.mobile-nav-btn {
    display: block;
  }
  body main {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
  }
  body main section.home .section-left {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 35px;
  }
  body main section.home .section-left h1 {
    text-align: center;
  }
  body main section.home .section-left p {
    text-align: center;
  }
  body main section.home .section-left form {
    width: 100%;
  }
  body main section.home .section-left form .form-group {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 15px;
  }
  body main section.home .section-left form .form-group input, body main section.home .section-left form .form-group button {
    width: 100%;
  }
  body main section.home .section-right {
    display: none;
  }
  body footer {
    height: 40px;
    width: 90%;
    margin-bottom: 20px;
  }
  body div#mobile-nav {
    width: 90%;
  }
}